$left-first: 60px;
$left-tab: 100px;
$line-height: 1.15em;
$top-code: 90px;

/*
	GENERIC CONFIGURATION
*/

@mixin line($row) {
  top: calc(#{$top-code} + (#{$row} * #{$line-height}));
}

@mixin height($row) {
  height: #{$row}.4em;
}


/**
* Gestion du highlighting de code
*/

.reveal .slides section.with-code h2 {
  position: relative;
  z-index: 100;
}

code-highlighter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reveal .backgrounds div.slide-background.with-code:not(.no-mask) {
  background: linear-gradient(rgba(63, 63, 63, 0.7), rgba(63, 63, 63, 0.7)), linear-gradient(rgba(63, 63, 63, 1), rgba(63, 63, 63, 1));
}