

@import "material-lite";

/**
 * MBOT Part
 */

#part-button-mbot{
    display:none;
}
   
.row{
    display: flex;
    flex-direction: row;   
    margin: 20px;
}        
 
.flex20{
    flex:0.2;
}
.flex60{
    flex:0.6;
}
.flex40{
    flex:0.4;
}


/**
* Speech Part
*/

$item-load: 4;
$load-colors: #3A8DF2, #E14E39, #FCC000, #3AA05C;

.reveal .slides section #demoSpeech{
  position: absolute;
  width: 500px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -270px;
  margin-top: -100px;
  background: rgba(0,0,0,.75);
  color: white;
  padding: 20px;

  i{
    color : grey;
  }
    .loading {
        position: relative;
    }

    .item {
        $size: 20px;
        display: inline-block;
        margin: 0 7px;
        width: $size;
        height: $size;
        border-radius: 100%;
        animation: load-ball .5s ease-in-out infinite alternate;
    }  

    @for $i from 1 through $item-load {
        .item-#{$i} {
            background: nth($load-colors, $i);
            animation-delay: #{($i / ($item-load * 2.5))}s;
        }
    }
}

@keyframes load-ball {
	0% {
	  transform: translateY(0px);
	}
	100% {
		transform: translateY(-13px);
	}
}


/*
* Myo Popup
*/

$size-myo-popup : 150px;

.myo-popup{
    position: fixed;
    bottom: 50px;
    right: $size-myo-popup;
    width: $size-myo-popup;
    height: $size-myo-popup;
    background: rgba(61, 61, 61, 0.8);
    border-radius: 10px;
}


.myo-popup.rest:after, .myo-popup.fist:after, .myo-popup.wave-in:after,
.myo-popup.wave-out:after, .myo-popup.fingers-spread:after, .myo-popup.double-tap:after, 
.myo-popup.unknown:after{
    content: '';
    position: absolute;
    width: $size-myo-popup;
    height: $size-myo-popup;
    top: 50%;
    left: 50%;
    margin-left: -$size-myo-popup / 2;
    margin-top: -$size-myo-popup / 2;
    background-repeat: no-repeat;
    background-size: cover;
}

.myo-popup.rest:after{
    background-image: url(/assets/images/myo_pan.png);
}

.myo-popup.fist:after{
    background-image: url(/assets/images/myo_fist.png);
}

.myo-popup.wave-in:after{
    background-image: url(/assets/images/myo_wave_left.png);
}

.myo-popup.wave-out:after{
    background-image: url(/assets/images/myo_right.png);
}

.myo-popup.fingers-spread:after{
    background-image: url(/assets/images/myo_spread_fingers.png);
}

.myo-popup.double-tap:after{
    background-image: url(/assets/images/myo_double_tap.png);
}

