

@import "material-lite";

/**
 * MBOT Part
 */

#part-button-mbot{
    display:none;
}
   
.row{
    display: flex;
    flex-direction: row;   
    margin: 20px;
}        
 
.flex20{
    flex:0.2;
}
.flex60{
    flex:0.6;
}
.flex40{
    flex:0.4;
}


/**
* Speech Part
*/

$item-load: 4;
$load-colors: #3A8DF2, #E14E39, #FCC000, #3AA05C;

.reveal .slides section #demoSpeech{
  position: absolute;
  width: 500px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -270px;
  margin-top: -100px;
  background: rgba(0,0,0,.75);
  color: white;
  padding: 20px;

  i{
    color : grey;
  }
    .loading {
        position: relative;
    }

    .item {
        $size: 20px;
        display: inline-block;
        margin: 0 7px;
        width: $size;
        height: $size;
        border-radius: 100%;
        animation: load-ball .5s ease-in-out infinite alternate;
    }  

    @for $i from 1 through $item-load {
        .item-#{$i} {
            background: nth($load-colors, $i);
            animation-delay: #{($i / ($item-load * 2.5))}s;
        }
    }
}

@keyframes load-ball {
	0% {
	  transform: translateY(0px);
	}
	100% {
		transform: translateY(-13px);
	}
}
