

@import "material-lite";

/**
 * MBOT Part
 */

#part-button-mbot{
    display:none;
}
   
.row{
    display: flex;
    flex-direction: row;   
    margin: 20px;
}        
 
.flex20{
    flex:0.2;
}
.flex60{
    flex:0.6;
}
.flex40{
    flex:0.4;
}
